<plugin id="cordova-plugin-fingerprint" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>FingerprintPlugin</name>
  <js-module src="www/fingerprint.js" name="Fingerprint">
    <clobbers target="Fingerprint" />
  </js-module>

  <!-- Incluir el AAR -->
  <source-file src="src/android/libs/finger-7.0.1.aar" target-dir="src/android/libs" />

  <!-- Declarar permisos necesarios -->
  <config-file target="AndroidManifest.xml" parent="/*">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  </config-file>

</plugin>
