<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-fingerprintplugin"
        version="1.0.0">

  <name>FingerprintPlugin</name>
  <description>Plugin de huella para OutSystems</description>
  <license>MIT</license>

  <js-module src="www/fingerprint.js" name="FingerprintPlugin">
    <clobbers target="window.plugins.fingerprint" />
  </js-module>

  <platform name="android">
    <!-- Declaración en config.xml -->
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FingerprintPlugin">
        <param name="android-package" value="com.fingerprint.plugin.FingerprintPlugin"/>
      </feature>
    </config-file>

    <!-- Permisos necesarios -->
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>

    <!-- Archivos fuente -->
    <source-file src="src/android/libs/FingerprintPlugin.java" target-dir="src/com/fingerprint" />

    <!-- Librería AAR -->
    <lib-file src="src/android/libs/finger-7.0.1.aar" />

    <!-- Referencia al archivo Gradle personalizado -->
    <framework src="src/android/packaging.gradle" custom="true" type="gradleReference"/>
  </platform>
</plugin>
